<section class="border-white/20  border-b ">
  <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-6xl text-xl">
        Dormut es un servicio integral de soldadura y CNC de proyectos de alta precisión que superan las expectativas.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl">
        Nos especializamos en servicios de soldadura profesional y corte por CNC, ofreciendo soluciones personalizadas para proyectos industriales y comerciales. Nuestro equipo utiliza equipamiento de última generación y técnicas avanzadas para garantizar la máxima calidad y precisión en cada trabajo. Desde prototipos hasta producción en serie, estamos comprometidos con la excelencia en cada detalle.
      </p>
    </div>
  </div>
</section>
