<footer class="border-white/20  border-b bg-accent-500">
  <div class="mx-auto border-white/20  border-x max-w-7xl">
    <div class="mx-auto p-8 items-start justify-between w-full">
      <div class="text-white text-center items-center mx-auto">
        <p class="uppercase font-display text-2xl">Dormut</p>
        <p class="mx-auto mt-3 text-sm">
         <a
            class="underline"
            href="https://www.instagram.com/dormut.mx/">Instagram</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
