<section
  class="mx-auto border-white/20 border-t 2xl:max-w-7xl bg-black/30 backdrop-blur-[2px] border-b justify-center lg:fixed lg:z-50 w-full">
  <div class="mx-auto justify-center w-full">
    <div
      class="mx-auto border-white/20 border-x max-w-7xl flex flex-col lg:flex-row lg:items-center lg:justify-between w-full">
      <div
        class="text-white text-center items-center w-full flex flex-col justify-between md:px-0 sm:flex-row sm:px-8">

        <div class="flex items-center gap-2 md:px-8 py-4">
          <a
            href="/"
            class="text-white text-medium font-display inline-flex items-center uppercase"
            ><span>Dormut</span>
          </a>
          <img src="/logo.svg" alt="Dormut" class="w-6 h-6 sm:w-8 sm:h-8" />
        </div>

        <a
          href="Instagram.com/"
          class="w-full bg-white/90 duration-200 font-display hover:bg-white lg:ml-auto lg:w-auto px-6 py-4 sm:rounded-full text-black text-center text-xs uppercase"
          >Contactanos</a
        ><a
          href="#servicios"
          class="w-full bg-orange/90 duration-200 font-display hover:bg-orange lg:w-auto px-6 py-4 sm:rounded-full text-black hover:text-white text-center text-xs uppercase"
          >Servicios</a
        >
      </div>
    </div>
  </div>
</section>
